<app-back-button></app-back-button>
<div>
  <div>
    Enter a number greater than 10:
    <input #numberInput type="number" name="numberInput" (blur)="validateNumber($event.target.value)" />
    <div *ngIf="showNumberError" class="input-error">
      Please enter a number greater than 10
    </div>
  </div>
  <div>
    Email address: <input #emailInput type="email" name="emailInput" (blur)="validateEmail($event.target.value)" />
    <div *ngIf="showEmailError" class="input-error">
      Please enter a valid Email address
    </div>
  </div>
</div>
