<h1>Dashboard</h1>
<nav>
  <a routerLink="/changesInputOutput">Changes Input Output</a>
  <br/>
  <a routerLink="/settings/config">Lazy Load Module & Nested Route</a>
  <br/>
  <a routerLink="/routeGuard">Route Guard</a>
  <br/>
  <a routerLink="/passingData">Passing Data</a>
  <br/>
  <a routerLink="/pageAnimation">Page Animation</a>
  <br/>
  <a routerLink="/cssAnimation">Css Animation</a>  
  <br/>
  <a routerLink="/inputValidation">Input Validation</a>  
  <br/>
  <a routerLink="/contentUsage">Content Usage</a>  
</nav>