<div>
  <div class="header">

  </div>
  <ul class="nav-ul">
    <li class="nav-li"><a href="#">Navigation Link One</a></li>
    <li class="nav-li"><a href="#">Navigation Link two</a></li>
    <li class="nav-li"><a href="#">Navigation Link three</a></li>
  </ul> 
  <picture>
    <source media="(min-width: 900px)" srcset="../../../assets/banner-web.png">
    <source media="(min-width: 180px)" srcset="../../../assets/banner-mobile.png">
    <img src="../../../assets/banner-mobile.png" alt="banner" class="responsive">
  </picture>
  <div>
    <div class="panel-header">
      Credit Opportunities With Good Approval Odds †
    </div>
    <div>
      <div>
        Barclaycard CashForward™ World MasterCard™
      </div>
      <div>
        <div class="card-img">
          <div style="float: left;">
            <img alt="visa card" src="../../../assets/visa.png" class="responsive">
          </div>
          <div style="float: right;">
            <span>
              Approval Odds †
            </span>
            <div>
              <button class="button-good">Very Good</button>
            </div>
          </div>
        </div>
        <div class="card-inner-list">
          <ul>
            <li>
              Get a $100 cash rewards bonus after you
              spend $500 in purchases in the first 90
              days after account oppening.
            </li>
            <li>
              Earn unlimited 1.5% cash rewards on
              every purcahse.
            </li>
            <li>
              Earn unlimited 1.5% cash rewards on
              every...<a>show more</a>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <button class="button-apply">Apply Now</button>
      </div>
      <div class="bottom-link">
        <a href="#">See Details Rates & Fees</a>
      </div>
    </div>
  </div>
</div>